img{
	width: 30%;
	float: left;
	margin: 1.66%;
}

h1{
	font-family: 'Roboto', sans-serif;
	margin-left: 1.66%;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 25px;
	border-bottom: 2px solid black;
	width:30%;
	padding-bottom: 20px;
}